<form action="" [formGroup]="formPost" (ngSubmit)="handleSubmit($event)" #formDir="ngForm">
    <input type="text" class="form-control mb-3" formControlName="title" name="title" id="inputTitle" placeholder="title">
    <textarea type="text" class="form-control mb-4" rows="5" formControlName="text" name="text" id="inputText" placeholder="text"
    style="resize: vertical;"></textarea>
    <!-- <input type="text" formControlName="thumbnailUrl" name="thumbnailUrl" id="inputThumbnail" placeholder="thumbnail">
    <input type="text" formControlName="bannerUrl" name="banner" id="inputBanner" placeholder="banner">
    <input type="text" formControlName="likes" name="likes" id="inputLikes" placeholder="likes"> -->

    <app-input-image #uploadThumb [destinationFolder]="'thumbnails'"></app-input-image>
    <app-input-image #uploadBanner [destinationFolder]="'banners'"></app-input-image>

    <button type="submit" class="btn btn-primary">Publicar</button>
    <small *ngIf="title.invalid && formDir.touched">Um titulo é obrigatorio</small>
</form>




