<div class="container mt-5 p-5 d-grid justify-content-center" style="min-height: 90vh;">

    <article class="mb-4">
        <h4>O que é README.MD?</h4>
        <hr>
        <p>Um arquivo README.md é um documento de texto especial que geralmente é colocado na raiz de um repositório de código-fonte em sistemas de controle de versão, como o Git. Ele desempenha um papel crucial ao fornecer informações importantes sobre o projeto de software aos colaboradores, usuários e desenvolvedores. O ".md" na extensão significa que ele usa a linguagem Markdown para formatar o texto.
            <br/>Os principais conteúdos presente nesse tipo de arquivo são:
        </p>
        <ul>
            <li class="fw-bold">Documentação inicial</li>
            <li class="fw-bold">Instruções de instalação</li>
            <li class="fw-bold">Exemplos de uso</li>
            <li class="fw-bold">Configuração</li>
            <li class="fw-bold">Contribuição</li>
            <li class="fw-bold">Informações de contato</li>
        </ul>
        <p>Em resumo, um arquivo README.md é um documento vital para qualquer projeto de software, pois atua como um guia prático e informativo que facilita o uso, a contribuição e a compreensão do código-fonte. Portanto, dedicar tempo para criar e manter um README.md bem elaborado é uma prática recomendada para desenvolvedores.</p>
    </article>

    <article class="mb-4">
        <h4>Tecnologias utilizadas nesse projeto: </h4>
        <hr>
        <h6>Front-end:</h6>
        <p>Angular 16 (Reactive-forms,Angular-routing, pipes), RxJS, TypeScript e Bootstrap 5</p>
        
        <h6>Back-end:</h6>
        <p>Firebase Cloud Storage, Firestore e Authentication</p>
    </article>

    <article class="mb-4">
        <h4>O que é o Angular?</h4>
        <hr>
        <p>Angular é um framework de código aberto para desenvolvimento de aplicativos web front-end. Ele simplifica o processo de criação de aplicativos complexos, fornecendo uma estrutura organizada e uma série de recursos poderosos.</p>
        <p><strong>Principais características:</strong> Component-Based, Two-Way Data Binding, Injeção de Dependência, Roteamento, Diretivas, Gerenciamento de Formulários, Integração com TypeScript  </p>
    </article>

</div>
