.comment-avatar{
    height: 3rem;
}

.comment-card{
    max-width: 80%;
    width: fit-content;
    box-sizing: border-box;
}

.form-comment{
    display: grid;
    /* justify-content: end; */
    justify-items: end;
}

#post{
    max-width: 900px;
}

#post-text{
    padding-inline: 2.25rem !important;
}