<div class="container mt-5 py-5 d-grid justify-content-center" style="min-height: 70vh;">
    <div class="card mb-5" id="post" *ngIf="post">
        <!-- <img src={{post.bannerUrl}} alt=""> -->
        <div class="card-header d-flex justify-content-between">
            <p class="fw-medium m-0 ms-2"><a [routerLink]="['/']" >posts</a> / <a href="">{{post.tag}}</a> / ...</p>
            <div class="d-flex no-wrap">
                <small class="me-2 text-body-secondary text-end">{{post.datehour}}</small>
                 <a [routerLink]="['/edit-post',this.id]" *ngIf="isAuthor()"><i class="bi bi-pencil-square text-primary"></i></a>
                 <span class="ms-2" role="button" *ngIf="isAuthor()" (click)="deletePost()"><i class="bi bi-trash3 text-danger"></i></span>
            </div>
        </div>
        <!-- <small class="text-body-secondary pt-1 m-0 me-5 text-end ">{{post.datehour}}</small> -->
        <div class="card-body" id="post-text">
            <h2>{{post.title}}</h2>
            <hr>
            <img class="img-fluid my-3 w-100" src={{post.bannerUrl}} alt="">
            <!-- <small class="">{{post.datehour}}</small> -->
            <p>{{post.text}}</p>
        </div>
        
    </div>

    <!-- ------------- Seção dos comentarios ------------ -->
    <div class="container comments d-grid" id="section-comments" >

    <div class=" mb-4 w-100">
        <h5 class="text-center text-secondary mb-3">Comentários ({{commentsList.length}}):</h5>

        <form class="form-comment w-100" [formGroup]="formComment" *ngIf="this.isSigned()">
            <!-- <label for="inputComment" class="form-label">Escreva um comentário</label> -->
            <textarea type="text" class="form-control" name="inputComment" placeholder="Escreva seu comentário" formControlName="inputComment" style="height: 87px;width: 100%;"></textarea>
            
            <div class="mt-2" *ngIf="formComment.controls['inputComment'].touched">
                <re-captcha 
                (resolved)="captchaResolved($event)"
                siteKey={{siteKey}}
                required ></re-captcha>
            </div>

            <button type="submit" class="btn btn-primary mt-2" [ngClass]="{'disabled': !captcha}" (click)="uploadComment()">Enviar</button>
        </form>

        <div class="comment-warn" *ngIf="!this.isSigned()">
            <h5 class="text-center text-danger">Faça login para comentar</h5>
        </div>
    </div>
        <div class="justify-content-center align-items-center">
            <app-comment-card *ngFor="let comment of commentsList" [commentData]="comment"></app-comment-card>
        </div>
    </div>


</div>

 