<div class="container mt-5 p-4">
  <div class="row g-5">
  
    <div class="posts align-items-start col-md-8">

        <!-- <div class="card mb-3" style="max-width: 540px;" *ngFor="let post of postList" (click)="openPost(post.id)" id="post.id">
            <div class="row g-0">           
              <div class="col-md-8">
                <div class="card-header d-flex align-items-center">
                  <img src={{post.author.userPhoto}}  class="rounded-2" style="height: 2rem;">
                  <h6 class="p-0 m-0">{{post.author.userName}}</h6>
                </div> -->
                <!-- <div class="card-body" style="padding-bottom: 0px;">
                  <h5 class="card-title">{{post.title}}</h5> -->
                  <!-- <p class="card-text">{{buildPreview(post.text.split(' ').slice(0,10))}} ...</p> -->
                  <!-- <hr class="my-2 p-0"> -->
                  <!-- <p class="card-text">{{post.text.slice(0,80)+'...'}}</p>
                  <div class="d-flex justify-content-end" style="margin-top: 9%;">
                    <img src={{post.author.userPhoto}}  class="rounded-2 me-2" style="height: 2rem;">
                    <span>
                      <h6 class="p-0 m-0">{{post.author.userName}}</h6>
                    <small class="text-body-secondary fs-6 publish-date">{{post.datehour}}</small>
                    </span>
                  </div> -->
                  <!-- <p class="card-text"><small class="text-body-secondary">Publicado em {{post.datehour}}</small></p> -->
                <!-- </div>
              </div>
              <div class="col-md-4">
                <img src={{post.thumbnailUrl}} class="img-fluid rounded-end" alt="Post image">
              </div>
            </div>
          </div> -->

          <!-- <hr> -->

          <div class="card post-card mb-4" *ngFor="let post of postList|filter:search" style="max-width: 540px;" id="post.id">
            <div class="card-body d-flex align-items-start" (click)="openPost(post.id)">
                <img src={{post.author.userPhoto}} alt="user photo" class="img-fluid author-avatar rounded-2" style="height: 2.75rem;">
                <div class='text-start ms-3'>
                    <span class="d-flex align-items-baseline justify-content-between">
                        <h6 class="mb-0 pb-1 me-3">{{post.author.userName}}</h6>
                        <small class="text-body-secondary" style="font-size: 12px;">{{post.datehour}}</small>
                    </span>
                    <hr class="my-1 py-1">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.text.slice(0,120)+'...'}}</p>
                </div>
            </div>
            <div class="col-md-4 w-100 " (click)="openPost(post.id)" style="overflow: hidden; max-height: 250px; width: 540px;">
              <img src={{post.bannerUrl}} class="img-fluid post-image w-100" alt="Post image"
              style="overflow: hidden;">
            </div>
            <div class="card-footer d-flex justify-content-start" style="padding-block: 5px;">
                <p class="card-text align-self-end text-body-secondary" ><i class="bi bi-star" (click)="updateLikes($event, post.id, post.likes)"></i> <small class="likes-number">{{post.likes}}</small></p>
            </div>
            
        </div>
    </div>

<!-- ASIDE ------------------------------------------------------------------------  -->

    <div class="col-md-4">
      <div class="position-sticky border rounded-2 p-3" style="top: 5rem;">

        <form class="input-box mb-4" [formGroup]="searchForm">
          <input type="text" class="form-control" formControlName="search" name="search">
          <i class="bi bi-search"></i>                    
        </form>
        
        <div class="p-4 mb-3 bg-body-tertiary rounded">
          <h4 class="text-body-secondary">Tags em alta:</h4>
          <!-- <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p> -->
          <span *ngFor="let item of trendPostsList | slice:0:5">
            <button role="button" class="btn btn-secondary me-1 mb-2" (click)="addTagSearch($event)" *ngIf="item.tag">{{item.tag}}</button>
          </span>
          
          
        </div>

        <div>
          <h4 class="text-body-secondary">Posts em alta</h4>
          <ul class="list-unstyled">
            <li *ngFor="let tPost of trendPostsList | slice:0:4">
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" (click)="openPost(tPost.id)">
                <img src={{tPost.thumbnailUrl}} alt="" height="96">
                <div class="col-lg-8" style="max-width: 100%;">
                  <h6 class="mb-0">{{tPost.title}}</h6>
                  <p class="text-truncate m-0">{{tPost.text}}</p>
                  <small class="text-body-secondary">{{tPost.datehour}}</small>
                  <p class="card-text align-self-end text-body-secondary" ><i class="bi bi-star"></i> <small class="likes-number">{{tPost.likes}}</small></p>
                </div>
              </a>
            </li>
  
          </ul>
        </div>

        
      </div>
    </div>
  <!-- \ASIDE ------------------------------------------------------------------------  -->  
 </div>

</div>
<!-- text-truncate -->