.comment-avatar{
    height: 3rem;
}

.comment-card{
    /* max-width: 100%; */
    /* width: fit-content; */
    box-sizing: border-box;
    width: 100%;
}

.dropdown-menu{
    height: fit-content;
}

.edit-text-area{
    height: 87px;
    width: 100%;
}
